/*---------------------------------------------------------GENERALT----------------------------------------------*/

img {
    width: 100%;
}

body {
    background-color: white;
    margin: 0;
}

* {
    box-sizing: border-box;

}

ul {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'bauhaus_93regular';
    src: url('fonts/bauhaus_93_regular-webfont.woff2') format('woff2'),
        url('fonts/bauhaus_93_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'century_gothicregular';
    src: url('fonts/gothic-webfont.woff2') format('woff2'),
        url('fonts/gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
    font-size: 1.3em;
    line-height: 1.5em;
    font-family: 'PT Serif', serif;

}

p2 {
    font-family: 'PT Serif', serif;
    font-size: 1.2em;
    line-height: 1.3em;
}


h1 {
    font-family: 'century_gothicregular';
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-family: 'century_gothicregular';
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

h3 {
    font-family: 'century_gothicregular';
    font-weight: bold;
    font-size: 1.5em;
}

p3 {
    font-family: 'PT Serif', serif;
    font-size: 1.3em;
    line-height: 1.3em;
}

h2:before {
    content: '';
}

/*
footer {
    text-align: center;
    background-color:antiquewhite;

  left: 0;
  bottom: 0;
  width: 100%;
 text-align: center;
}
*/
/*---------------------------------------------------------GENERALT SLUT----------------------------------------------*/


/* ----------------------BURGER MENU ------------------------------ */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
}

.logo {
    color: rgba(240, 248, 255, 0.64);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: rgba(240, 248, 255, 0.64);
    text-decoration: none;
    letter-spacing: 3px;

}

.nav-links li {
    text-decoration: none;
    list-style: none;

}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgba(240, 248, 255, 0.64);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {

        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px;
        )
    }

    to {
        opacity: 1;
        transform: translateX(0px;
        )
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg)translate(-5px, -6px);
}

/* ----------------------BURGER MENU SLUT--------------------------- */

/*---------------------------------------------------------FORSIDE----------------------------------------------*/
header {
    background-color: blue;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

#sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.frontbillede {

    /*
    min-height: 100%;
  min-width: 1024px;


  width: 100%;
  height: auto;



  top: 0;
  left: 0;
    */
}


#sectionwrapper .flexbund {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    flex-grow: 1;
    flex-basis: 200px;
    flex-direction: row;

    /*    max-width: 1200px;*/
}

#sectionwrapper .flexleft {
    background-color: white;
    flex-grow: 1;
    flex-basis: 100px;
    display: inline-block;
    padding: 15px;
}

#sectionwrapper .flexright {
    background-color: white;
    flex-grow: 1;
    flex-basis: 100px;
    /*    padding: 15px;*/
}

#sectionwrapper .flexright img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*    border-style:solid;*/
    margin-top: 40px;
    margin-bottom: 40px;

}

/*---------------------------------------------------------FORSIDE SLUT----------------------------------------------*/
/*---------------------------------------------------------PORTFOLIO----------------------------------------------*/



#sectionwrapperportfolio .flexitembillede:hover {
    opacity: 1;
}

.container:flexitem .img {
    opacity: 0.3;
}

.container:flexitembillede .img {
    opacity: 1;
}

#sectionwrapperportfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

#sectionwrapperportfolio .frontbillede {
    flex-grow: 1;
    /*    Flex basis var 300 px før sammen med billedet*/
    flex-basis: 100px;
    /*
    background-color: fuchsia;
    background-image: url(billeder/portfoliobillede3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
*/

}

#sectionwrapperportfolio .frontbillede img {}

#sectionwrapperportfolio .flexbund {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 800px;
    background-color: white;
    flex-direction: column;
}

#sectionwrapperportfolio .flexbundrow {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 250px;
    background-color: white;
    flex-direction: row;
}


#sectionwrapperportfolio .flexitem {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 50px;
    background-color: white;

    flex-direction: column;
    overflow: hidden;
    border-style: solid;
    border-color: rgba(216, 212, 211, 0.33);
}

#sectionwrapperportfolio .flexitembillede {
    flex-grow: 1;
    flex-basis: 35px;
    background-color: wheat;
    opacity: 0.8;
    cursor: pointer;

}

#sectionwrapperportfolio .flexitemtekst {
    flex-grow: 1;
    flex-basis: 15px;
    background-color: white;
    margin: 2px;
    color: black;
    overflow: hidden;
    padding: 0 8px 8px 8px;
    text-align: left;


}

#sectionwrapperportfolio .billede1 {
    background-image: url(billeder/splashbillede.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

#sectionwrapperportfolio .billede2 {
    background-image: url(billeder/spil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 0;
}

#sectionwrapperportfolio .billede3 {
    background-image: url(billeder/annonce.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 25%;
}

#sectionwrapperportfolio .billede4 {
    background-image: url(billeder/pilotvideo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}

#sectionwrapperportfolio .billede5 {
    background-image: url(billeder/glarmestervideo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#sectionwrapperportfolio .billede6 {
    background-image: url(billeder/prototype2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#sectionwrapperportfolio .billede7 {
    background-image: url(billeder/Artboardny.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#sectionwrapperportfolio .item1 {
    margin: 5px 5px 0px 5px;
}

#sectionwrapperportfolio .item2 {
    margin: 5px 5px 0px 0px;
}

#sectionwrapperportfolio .item3 {
    margin: 5px 5px 0px 0px;
}

#sectionwrapperportfolio .item4 {
    margin: 5px 5px 0px 0px;
}

#sectionwrapperportfolio .item5 {
    margin: 5px 5px 5px 5px;
}

#sectionwrapperportfolio .item6 {
    margin: 5px 5px 5px 0px;
}

#sectionwrapperportfolio .item7 {
    margin: 5px 5px 5px 0px;
}

#sectionwrapperportfolio .item8 {
    margin: 5px 5px 5px 0px;
}

/*
#sectionwrapperportfolio .billede8 {
    background-image: url(billeder/splashbillede.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*/

/*---------------------------------------------------------PORTFOLIO SLUT----------------------------------------------*/
/*---------------------------------------------------------MIG SIDE----------------------------------------------*/
#sectionwrappercv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#sectionwrappercv .flexbund {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    flex-grow: 1;
    flex-basis: 200px;
    flex-direction: row;

    /*    max-width: 1200px;*/
}

#sectionwrappercv .flexleft {
    background-color: white;
    flex-grow: 1;
    flex-basis: 100px;
    /*    display: inline-block;*/
    padding: 15px;
}

#sectionwrappercv .flexright {
    background-color: white;
    flex-grow: 1;
    flex-basis: 100px;
    /*    padding: 15px;*/
}

#sectionwrappercv .flexright img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /*    border-style:solid;*/
    margin-top: 40px;
    margin-bottom: 40px;

}

/*---------------------------------------------------------MIG SIDE SLUT----------------------------------------------*/
/*---------------------------------------------------------Stilart SIDE----------------------------------------------*/
#sectionwrapperstilart {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    flex-direction: column;
}

#sectionwrapperstilart .flexwrapperbund {
    background-color: fuchsia;
    flex-grow: 1;
    flex-basis: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

#sectionwrapperstilart .flexleft {
    flex-grow: 1;
    flex-basis: 400px;
    background-color: white;
    padding: 10px;

}

#sectionwrapperstilart .flexright {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 400px;
    background-color: white;
    flex-direction: column;

}

#sectionwrapperstilart .flexitemtop {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: bisque;
    margin: 20px 20px 0 20px;
}

#sectionwrapperstilart .flexitemmid {

    flex-grow: 1;
    flex-basis: 200px;
    background-color: darkslategray;
    margin: 20px 20px 20px 20px;
    ;
}

#sectionwrapperstilart .flexitembot {

    flex-grow: 1;
    flex-basis: 200px;
    background-color: darkslategray;
    margin: 0 20px 20px 20px;
}

#sectionwrapperstilart .billede1 {
    background-image: url(billeder/stilart1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
}

#sectionwrapperstilart .billede2 {
    background-image: url(billeder/stilart2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
}

#sectionwrapperstilart .billede3 {
    background-image: url(billeder/stilart3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
}

/*---------------------------------------------------------Stilart SIDE Slut----------------------------------------------*/
/*---------------------------------------------------------Animation SIDE ----------------------------------------------*/
#sectionwrapperanimation {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    flex-direction: column;
}

#sectionwrapperanimation .flexwrapperbund {
    background-color: fuchsia;
    flex-grow: 1;
    flex-basis: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#sectionwrapperanimation .flexleft {
    flex-grow: 1;
    flex-basis: 400px;
    background-color: white;
    padding: 10px;

}

#sectionwrapperanimation .flexright {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 400px;
    background-color: white;
    flex-direction: column;

}

#sectionwrapperanimation .flexitemtop {
    flex-grow: 1;
    flex-basis: 320px;
    background-color: bisque;
    margin: 20px 20px 0 20px;
}

#sectionwrapperanimation .flexitemmid {

    flex-grow: 1;
    flex-basis: 320px;
    background-color: darkslategray;
    margin: 20px 20px 20px 20px;
}

#sectionwrapperanimation .flexitembot {

    flex-grow: 1;
    flex-basis: 320px;
    background-color: darkslategray;
    margin: 0 20px 20px 20px;
}

#sectionwrapperanimation .billede1 {
    background-image: url(billeder/spil.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;

}

#sectionwrapperanimation .billede2 {
    background-image: url(billeder/spilskaerm.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
}

#sectionwrapperanimation .billede3 {
    background-image: url(billeder/Blank%20Diagram.jpeg);
    background-repeat: no-repeat;
    background-size: 58%;
    background-color: white;
    background-position: center;
}

/*---------------------------------------------------------Animation SIDE Slut----------------------------------------------*/
/*---------------------------------------------------------Privat snak SIDE ----------------------------------------------*/
#sectionwrapperprivatsnak {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    flex-direction: column;
}

#sectionwrapperprivatsnak .flexwrapperbund {
    background-color: fuchsia;
    flex-grow: 1;
    flex-basis: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#sectionwrapperprivatsnak .flexleft {
    flex-grow: 1;
    flex-basis: 400px;
    background-color: white;
    padding: 10px;

}

#sectionwrapperprivatsnak .flexright {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 400px;
    background-color: white;
    flex-direction: column;

}

#sectionwrapperprivatsnak .flexitemtop {
    flex-grow: 1;
    flex-basis: 320px;
    background-color: bisque;
    margin: 20px 20px 0 20px;
}

#sectionwrapperprivatsnak .flexitemmid {

    flex-grow: 1;
    flex-basis: 320px;
    background-color: darkslategray;
    margin: 20px 20px 20px 20px;
}

#sectionwrapperprivatsnak .flexitembot {

    flex-grow: 1;
    flex-basis: 320px;
    background-color: darkslategray;
    margin: 0 20px 20px 20px;
}

#sectionwrapperprivatsnak .billede1 {
    background-image: url(billeder/animation_gruppe_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;

}

#sectionwrapperprivatsnak .billede2 {
    background-image: url(billeder/animation_gruppe_2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
}

#sectionwrapperprivatsnak .billede3 {
    background-image: url(billeder/animation_gruppe_4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    background-position: center;
}

/*---------------------------------------------------------Privat snak SIDE Slut----------------------------------------------*/
